{
    "presets": [
        ["env", {
            "targets": {
                "node": "current"
            }
        }],
        "stage-0"],
    "plugins": [],
    "env": {
        "commonjs": {
            "presets": [
                ["env", {
                    "useBuiltIns": false
                }]
            ],
            "plugins": []
        }
    }
}
